header {
  width: 100%;
  padding: 10px 20px;
  position: fixed;

  z-index: 1;
  background-color: rgb(249, 219, 121);
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: auto;
  height: 60px;
}

#menu-links {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: transition;
}

.link {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  padding: 0 5px;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.link:nth-child(1)::after {
  background: rgb(255, 30, 0);
}
.link:nth-child(2)::after {
  background: rgb(170, 0, 255);
}
.link:nth-child(3)::after {
  background: rgb(0, 117, 0);
}

.link:hover::after {
  width: 100%;
  font-weight: bold;
}

.menu-btn {
  display: none;
  z-index: 1;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  #menu-links .link {
    display: none; 
  }
  #menu-links.menu-open {
   
    width: 30vw;
    height: 50vh;
    right: 0;
    top: 0;
  
    
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: rgb(249, 219, 121);
  }

  #menu-links.menu-open .link {
    font-size: 30px;
    padding: 30px;
    display: unset;
  }
  .menu-btn{
    display: unset;
  }
}
@media (max-width: 425px) {
 #menu-links.menu-open {
   
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: rgb(249, 219, 121);
  }

  
}
